*{
color: black;
margin: 0;
padding: 0;
font-family: 'Merriweather', serif;

}

body{
    /* background: rgb(0,0,0);
    background: linear-gradient(309deg, rgba(0,0,0,0.7959558823529411) 40%, rgba(66,53,30,1) 50%, rgba(0,0,0,0.9051995798319328) 69%); */
}
    

.home{
    background-image: url(images/pexels-ella-olsson-1640774.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.home ul{
    background-color: rgba(255,255,255,0.9);
    padding: 25px;
}

.logo{
    font-size: 24px;
    font-weight:bold;
    font-family: 'Dancing Script', cursive;
    color: gold;
    /* border: 2px solid red; */
}
 
.home ul li{
    display: inline;
}

.home ul li a{
    float: right;
    margin: 0px 30px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

.home ul li a:hover{
    color: gold;
}

.home h1{
    text-align: center;
    margin: 120px auto;
    font-size: 70px;
    background-color: rgba(255,255,255,0.7);
    width: 250px;
    padding: 70px;
    border-radius: 10%;
    font-family: 'Dancing Script', cursive;
    
}

.about{
    width: 90%;
    margin: 0 auto;
}

#about{
    
}

#about h2{
    margin: 150px 0 20px 25px;
    width: 40%;
    text-align: center;
    font-size: 40px;
    font-weight:600;
    color: gold;
    border-bottom: 3px solid gold; 
    padding-bottom: 25px;
    
}


#about p{
    text-align: center;
    display: inline-block;
    width: 45%;
    font-size: 19px;
    line-height: 1.5;
    /* margin: 0 auto; */
}

#about img{
    float: right;
    width: 45%;
    height: 500px;
    margin-top: -220px;
    border-radius: 100%;

}

#recipe{
    background-color: black;
    margin-top: 180px;
    padding: 50px 0;
}

.recipe{
    width: 90%;
    margin: 0 auto;
}

.recipe h2{
    color: gold;
    text-align: center;
    font-size: 40px;
    padding-bottom: 25px; 
      
}

.recipe img{
    height: 350px;
    width: 350px;
    margin: 0 20px;
}

.circleimg img{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    margin: 30px 20px;
}

/* .container{
    position: relative;
    float: left;
}

.container img{
    position: relative;
    z-index: 1;
    
}

.overlay p{
    text-align: center;
    margin-top: 35%;
}

  .overlay {
	position: absolute;
    z-index: 2;
    top: 0;
    opacity: 0;
    color: #fff;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    background-color: #2cbdec;
    margin-left: 20px;
  }

  .container:hover .overlay {
    opacity: 0.8;
  } */